body{
  background-color: #000000;
}
.auction-dark-wrapper {
  background: #000000;
  border-radius: 16px;
  padding: 20px;
  width: calc(100% - 80px);
  margin: 0 40px;
  color: rgb(255, 255, 255);
  font-family: system-ui, sans-serif;
}

.auction-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 10px;
}

.right-tools {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-tools input {
  background-color: transparent;
  border: 1px solid #1f2937;
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  outline: none;
  min-width: 200px;
}

.export-btn {
  background-color: #a3e635;
  color: black;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.table-box {
  background-color: #020617;
  border: 1px solid #1f2937;
  border-radius: 16px;
  overflow: hidden;
}

.auction-table {
  width: 100%;
  border-collapse: collapse;
}

.auction-table thead {
  background: #020617;
}

.auction-table th {
  text-align: left;
  font-size: 13px;
  color: #9ca3af;
  padding: 16px;
  border-bottom: 1px solid #1f2937;
}

.auction-table td {
  padding: 18px 16px;
  border-bottom: 1px solid #1f2937;
  font-size: 14px;
  background-color: #020617;
}

.auction-table tbody tr:hover {
  background-color: #020617;
  box-shadow: inset 0 0 0 1px #1f2937;
}

.title {
  font-weight: 600;
}

.sub-id {
  font-size: 12px;
  color: #6b7280;
}

.status-pill {
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 999px;
  font-weight: 600;
}

.live {
  background: rgba(34, 197, 94, 0.15);
  color: #22c55e;
}

.upcoming {
  background: rgba(59, 130, 246, 0.15);
  color: #3b82f6;
}

.ended {
  background: rgba(239, 68, 68, 0.15);
  color: #ef4444;
}

.draft {
  background: rgba(234, 179, 8, 0.15);
  color: #eab308;
}

.pagination-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 14px;
  color: #9ca3af;
  margin-right: 45%;
}

.pagination {
  display: flex;
  gap: 6px;
}

.pagination button {
  background: transparent;
  border: 1px solid #1f2937;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.pagination .active {
  background: #000000;
  color: rgb(255, 255, 255);
  border-color: #ffffff;
}
.para{
    font-size: 10px;
}